<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Express Js</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div id="content" class="container">
      <h1><%=title%></h1>
      <ul>
        <% for(var i=0; i<items.length; i++) { %>
        <li><%= items[i].name%></li>
        <% } %>
      </ul>
      <form action="/add" method="post">
        <input type="text" name="newItem" />
        <input type="Submit" />
      </form>
    </div>
  </body>
</html>

<!-- https://www.youtube.com/watch?v=QseHOX-5nJQ    -->